---
import './card-portfolio.css';
const {
	title,
	titleKey,
	descripcion,
	descripcionKey,
	imgSrc,
	averageBrightness,
} = Astro.props;
---

<div class="card__portfolio">
	<img
		src={imgSrc}
		alt={title}
		crossorigin="anonymous"
		height={130}
		width={332}
		loading="lazy"
		average-brightness={averageBrightness}
	/>

	<div class="descripcion__container">
		<h2 class="card__title" data-i18n-key={titleKey}>{title}</h2>
		<div class="descripcion">
			<p data-i18n-key={descripcionKey}>{descripcion}</p>
		</div>
	</div>
</div>
